@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E7E7E7;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Signate Grotesk';
  src: url('SignateGrotesk-Black.eot');
  src: local('Signate Grotesk Black'), local('SignateGrotesk-Black'),
      url('SignateGrotesk-Black.woff2') format('woff2'),
      url('SignateGrotesk-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Unbounded';
	src: url('UnboundedVariable.woff2') format('woff2') url('UnboundedVariable.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}
@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Light.woff2') format('woff2') url('Unbounded-Light.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Blond.woff2') format('woff2') url('Unbounded-Blond.woff') format('woff');
	font-weight: 250;
	font-style: normal;
}
@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Regular.woff2') format('woff2') url('Unbounded-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Medium.woff2') format('woff2') url('Unbounded-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Bold.woff2') format('woff2') url('Unbounded-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Black.woff2') format('woff2') url('Unbounded-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

#app {
  font-family: 'Unbounded', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333134;
}